<div class="row">
  <%= form_for @portal do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.label :title, class: 'active' %>
        <%= f.text_field :title %>
      </div>
      <div class="input-field col s12 m8">
        <%= f.label :text, class: 'active' %>
        <br/>
        <%= f.text_area :text %>
      </div>
    </div>
    <%= f.submit 'Post', class: 'btn' %>
  <% end %>
</div>
